/Unit one/assignments/HWO2/area/nbproject/private/
/Unit one/assignments/HWO2/area/build/
/Unit one/assignments/HWO2/areajava/nbproject/private/
/Unit one/assignments/HWO2/JavaApplication9/nbproject/private/
/Unit one/assignments/HWO2/JavaApplication9/build/
/Unit one/assignments/HWO2/areajava/build/
/Unit one/assignments/HWO2/areacuadrado/nbproject/private/
/Unit one/assignments/HWO2/areacuadrado/build/
/Unit one/assignments/HWO2/JavaApplication9/areacuadrado/nbproject/private/
/Unit one/assignments/HWO2/JavaApplication9/areacuadrado/build/
/Unit one/assignments/HWO2/JavaApplication9/areacuadradoshort/nbproject/private/
/Unit one/assignments/HWO2/JavaApplication9/areacuadradoshort/build/
/Unit one/assignments/HWO2/JavaApplication9/cuadradoarea/nbproject/private/
/Unit one/assignments/HWO2/JavaApplication9/HW02SquareArea/nbproject/private/
/Unit one/assignments/HWO2/JavaApplication9/HW02SquareArea/build/
/Unit one/assignments/HWO2/JavaApplication9/cuadradoarea/build/
/Unit one/assignments/HWO2/HW02SquareArea/build/
/Unit one/assignments/HWO2/HW02SquareArea/nbproject/private/
/Unit one/assignments/HWO2/HW02SquareArea/HWO2SquareArea/nbproject/private/
/Unit one/assignments/HWO2/HW02SquareArea/HWO2SquareArea/build/
/Unit one/assignments/HWO2/HW02SquareArea/HW02SquareAreaint/nbproject/private/
/Unit one/assignments/HWO2/HW02SquareArea/HW02SquareAreaint/build/
/Unit one/workshops/HWS04_LogicalOperator/nbproject/private/
/Unit one/workshops/HWS04_LogicalOperator/build/
/Unit one/workshops/WS05_/nbproject/private/
/Unit one/workshops/WS05_/build/
/workshops/Unit one/HWS04_LogicalOperator/build/
/workshops/Unit one/HWS04_LogicalOperator/nbproject/private/
/workshops/Unit one/WS05_Iteration/build/
/workshops/Unit one/WS05_Iteration/nbproject/private/
/workshops/Unit one/WSO3_Operator/basicoperation/build/
/workshops/Unit one/WSO3_Operator/basicoperation/dist/
/workshops/Unit one/WSO3_Operator/basicoperation/nbproject/private/
/assignments/HWO2/HW02SquareArea/build/
/assignments/HWO2/HW02SquareArea/nbproject/private/
/assignments/HW03_while/nbproject/private/
/assignments/HW03_while/build/
/workshops/Unit one/WS07menus/nbproject/private/
/workshops/Unit one/WS07menus/build/
/workshops/Unit one/HW04_menus/nbproject/private/
/assignments/HW04_menus/nbproject/private/
/assignments/HW04_menus/build/
/Exams/Unit one/RosalesLuisQ11-flowchart/nbproject/private/
/Exams/Unit one/RosalesLuisQ11-flowchart/build/
/Exams/Unit one/Rosales Luis_Q11/nbproject/private/
/Exams/Unit one/Rosales Luis_Q11/build/
/workshops/Unit 2/WHS08/nbproject/private/
/workshops/Unit 2/WHS08/build/
/workshops/Unit 2/WS08debugging/build/
/workshops/Unit 2/WS08debugging/nbproject/private/
/workshops/Unit 2/HW05_Factorial/nbproject/private/
/assignments/Unit 2/HW05_Factorial/nbproject/private/
/assignments/Unit 2/HW05_Factorial/build/
/assignments/Unit 2/HW06.Numberproblem/nbproject/private/
/assignments/Unit 2/HW06.Numberproblem/build/
/assignments/Unit 2/HW06Numberproblem/nbproject/private/
/assignments/Unit 2/HW06Numberproblem/build/
/workshops/Unit 2/HW09_Factorial/WS10Funtions/nbproject/private/
/workshops/Unit 2/WS10Funtions/nbproject/private/
/workshops/Unit 2/WS10Funtions/build/
/assignments/Unit 2/HW07Funtions/nbproject/private/
/assignments/Unit 2/HW07Funtions/build/
/assignments/Unit 2/HW08Geoconverter/nbproject/private/
/workshops/Unit 2/WS11Two parts/WS11Refactor/nbproject/private/
/assignments/Unit 2/HW08Geoconverter/build/
/workshops/Unit 2/WS11Two parts/WS11Funtions/nbproject/private/
/workshops/Unit 2/WS11Two parts/WS11Funtions/build/
/workshops/Unit 2/WS11Two parts/WS11FuntionsAndRrecursion/nbproject/private/
/workshops/Unit 2/WS11Two parts/WS11FuntionsAndRrecursion/build/
/workshops/Unit 2/WS11Two parts/WS11Refactor/build/
/assignments/Unit 2/HW08_Recurcive/nbproject/private/
/assignments/Unit 2/HW08_Recurcive/build/
/workshops/Unit 2/WS12libreries/nbproject/private/
/workshops/Unit 2/WS12libreries/build/
/assignments/Unit 2/HW12_Taxes/nbproject/private/
/assignments/Unit 2/HW12_Taxes/build/
/workshops/Unit 2/WS13_ComputeArea/nbproject/private/
/workshops/Unit 2/WS13_Task/nbproject/private/
/workshops/Unit 2/WS13_Task/build/
/workshops/Unit 2/WS13_Two parts/WS13_Task/nbproject/private/
/workshops/Unit 2/WS13_Two parts/WS13_Task/build/
/workshops/Unit 2/WS13_Two parts/WS13_ThysicalFormulas/nbproject/private/
/workshops/Unit 2/WS13_Two parts/WS13_ThysicalFormulas/build/
/workshops/Unit 2/WS14_Array/nbproject/private/
/workshops/Unit 2/WS14_Array/build/
/assignments/Unit 2/HW14_Array/nbproject/private/
/assignments/Unit 2/HW14_Array/build/
/assignments/Unit 2/HW14Arrays/nbproject/private/
/assignments/Unit 2/HW14Arrays/build/
/Quizes/ArrayQuiz22-02-2021/nbproject/private/
/Quizes/ArrayQuiz22-02-2021/build/
/workshops/Unit 2/WS15ArrayQ22-02-2021/nbproject/private/
/workshops/Unit 2/WS16Addition/nbproject/private/
/workshops/Unit 2/WS16MatrixAddition/nbproject/private/
/workshops/Unit 2/WS15ArrayQ22-02-2021/build/
/Quizes/Quiz22-02-2021/nbproject/private/
/assignments/Unit 2/HW15MatrixOperation/nbproject/private/
/assignments/Unit 2/HW15MatrixOperation/build/
/workshops/Unit 2/WS16MatrixAddition/build/
/workshops/Unit 2/WS17MatrixTranspotition/nbproject/private/
/workshops/Unit 2/WS17MatrixTranspotition/build/
/assignments/Unit 2/HW16MatrixFuntion/nbproject/private/
/assignments/Unit 2/HW16MatrixFuntion/build/
/Quizes/RosalesLQ11/nbproject/private/
/Quizes/RosalesLQ11/build/
/Exams/Unit 2/RosalesLQ11.java/nbproject/private/
/Exams/Unit 2/RosalesLQ11.java/build/
/workshops/Unit 3/WS19ArrayInspection/ExamUnit2/WS19ArrayInspection/nbproject/private/
/workshops/Unit 3/WS19ArrayInspection/ExamUnit2/WS19ArrayInspection/build/
/workshops/Unit 3/WS19ArrayInspection/SanchezEQ11.java/nbproject/private/
/workshops/Unit 3/WS19ArrayInspection/SanchezEQ11.java/build/
/workshops/Unit 2/HW09_Factorial/WS10Funtions/build/
/workshops/Unit 2/HW09_Factorial/WS10Funtions/dist/
/workshops/Unit 2/WS10Funtions/dist/
/workshops/Unit 3/WS20JarEjecution/nbproject/private/
/workshops/Unit 3/WS20Jar_Ejecution/nbproject/private/
/workshops/Unit 3/WS20Jar_Ejecution/build/
/workshops/Unit 3/WS20Jar_Ejecution/dist/
/workshops/Unit 3/WS20-JAR/nbproject/private/
/workshops/Unit 3/WS21Ranges/nbproject/private/
/workshops/Unit 3/WS21Funtions/nbproject/private/
/workshops/Unit 3/WS21Funtions/build/
/workshops/Unit 3/WS21Funtions/dist/
/workshops/Unit 3/Nueva Carpeta/ModularCalculator/nbproject/private/
/workshops/Unit 3/WS22ModularCalculator/nbproject/private/
/workshops/Unit 3/WS22ModularCalculator/build/
/workshops/Unit 3/WS23TaxDeclaration/nbproject/private/
/workshops/Unit 3/WS23TaxDeclaration/TaxLibrary/nbproject/private/
/workshops/Unit 3/TaxLibrary/nbproject/private/
/workshops/Unit 3/TaxLibrary/ec.edu.espe.tax/nbproject/private/
/workshops/Unit 3/WS23TaxDeclaration/build/
/workshops/Unit 3/TaxLibrary/build/
/workshops/Unit 3/TaxLibrary/dist/
/workshops/Unit 3/WS23TaxDeclaration/TaxLibrary/build/
/workshops/Unit 3/WS23TaxDeclaration/TaxLibrary/dist/
/workshops/Unit 3/WS23TaxDeclaration/dist/
/workshops/Unit 3/WS23TaxDeclaration/TaxLabrary/nbproject/private/
/workshops/Unit 3/WS23TaxDeclaration/TaxLabrary/build/
/workshops/Unit 3/WS23TaxDeclaration/TaxLabrary/dist/
/assignments/Unit 3/HW17MatrixLibraries/nbproject/private/
/assignments/Unit 3/HW17MatrixLibraries/build/
/assignments/Unit 3/MatrixLibrary/nbproject/private/
/assignments/Unit 3/MatrixLibrary/build/
/assignments/Unit 3/MatrixLibrary/dist/
/workshops/Unit 3/WS24SortingAlgorithms/Sorting/nbproject/private/
/workshops/Unit 3/WS24SortingAlgorithms/Sorting/build/
/workshops/Unit 3/WS25/BubbleSort/nbproject/private/
/workshops/Unit 3/WS25/Sorting/nbproject/private/
/workshops/Unit 3/ws25/JavaApplication91/nbproject/private/
/assignments/Unit 3/HW18Searching/nbproject/private/
/assignments/Unit 3/HW18Searching/build/
/workshops/Unit 3/WS25OperationsWhitStrings/Contacts/nbproject/private/
/workshops/Unit 3/WS25OperationsWhitStrings/Contacts/build
/workshops/Unit 3/WS25OperationsWhitStrings/shoe brands/nbproject/private/
/workshops/Unit 3/WS25OperationsWhitStrings/WS25ShoeBrands/nbproject/private/
/workshops/Unit 3/WS25OperationsWhitStrings/WS25ShoeBrands/build/
/assignments/Unit 3/HW19SearchingForm/nbproject/private/
/assignments/Unit 3/HW19SearchingForm/build/