/Unit one/assignments/HWO2/area/nbproject/private/
/Unit one/assignments/HWO2/area/build/
/Unit one/assignments/HWO2/areajava/nbproject/private/
/Unit one/assignments/HWO2/JavaApplication9/nbproject/private/
/Unit one/assignments/HWO2/JavaApplication9/build/
/Unit one/assignments/HWO2/areajava/build/
/Unit one/assignments/HWO2/areacuadrado/nbproject/private/
/Unit one/assignments/HWO2/areacuadrado/build/
/Unit one/assignments/HWO2/JavaApplication9/areacuadrado/nbproject/private/
/Unit one/assignments/HWO2/JavaApplication9/areacuadrado/build/
/Unit one/assignments/HWO2/JavaApplication9/areacuadradoshort/nbproject/private/
/Unit one/assignments/HWO2/JavaApplication9/areacuadradoshort/build/
/Unit one/assignments/HWO2/JavaApplication9/cuadradoarea/nbproject/private/
/Unit one/assignments/HWO2/JavaApplication9/HW02SquareArea/nbproject/private/
/Unit one/assignments/HWO2/JavaApplication9/HW02SquareArea/build/
/Unit one/assignments/HWO2/JavaApplication9/cuadradoarea/build/
/Unit one/assignments/HWO2/HW02SquareArea/build/
/Unit one/assignments/HWO2/HW02SquareArea/nbproject/private/
/Unit one/assignments/HWO2/HW02SquareArea/HWO2SquareArea/nbproject/private/
/Unit one/assignments/HWO2/HW02SquareArea/HWO2SquareArea/build/
/Unit one/assignments/HWO2/HW02SquareArea/HW02SquareAreaint/nbproject/private/
/Unit one/assignments/HWO2/HW02SquareArea/HW02SquareAreaint/build/
/Unit one/workshops/HWS04_LogicalOperator/nbproject/private/
/Unit one/workshops/HWS04_LogicalOperator/build/
/Unit one/workshops/WS05_/nbproject/private/
/Unit one/workshops/WS05_/build/
/workshops/Unit one/HWS04_LogicalOperator/build/
/workshops/Unit one/HWS04_LogicalOperator/nbproject/private/
/workshops/Unit one/WS05_Iteration/build/
/workshops/Unit one/WS05_Iteration/nbproject/private/
/workshops/Unit one/WSO3_Operator/basicoperation/build/
/workshops/Unit one/WSO3_Operator/basicoperation/dist/
/workshops/Unit one/WSO3_Operator/basicoperation/nbproject/private/
/assignments/HWO2/HW02SquareArea/build/
/assignments/HWO2/HW02SquareArea/nbproject/private/
/assignments/HW03_while/nbproject/private/
/assignments/HW03_while/build/
/workshops/Unit one/WS07menus/nbproject/private/
/workshops/Unit one/WS07menus/build/
/workshops/Unit one/HW04_menus/nbproject/private/
/assignments/HW04_menus/nbproject/private/
/assignments/HW04_menus/build/
/Exams/Unit one/RosalesLuisQ11-flowchart/nbproject/private/
/Exams/Unit one/RosalesLuisQ11-flowchart/build/
/Exams/Unit one/Rosales Luis_Q11/nbproject/private/
/Exams/Unit one/Rosales Luis_Q11/build/
/workshops/Unit 2/WHS08/nbproject/private/
/workshops/Unit 2/WHS08/build/
/workshops/Unit 2/WS08debugging/build/
/workshops/Unit 2/WS08debugging/nbproject/private/
/workshops/Unit 2/HW05_Factorial/nbproject/private/
/assignments/Unit 2/HW05_Factorial/nbproject/private/
/assignments/Unit 2/HW05_Factorial/build/
/assignments/Unit 2/HW06.Numberproblem/nbproject/private/
/assignments/Unit 2/HW06.Numberproblem/build/
/assignments/Unit 2/HW06Numberproblem/nbproject/private/
/assignments/Unit 2/HW06Numberproblem/build/
/workshops/Unit 2/HW09_Factorial/WS10Funtions/nbproject/private/
/workshops/Unit 2/WS10Funtions/nbproject/private/
/workshops/Unit 2/WS10Funtions/build/